
/* page layout index*/

:root {
    --clr-primary: #9fbdd3;
    --clr-secondary: #7791a5;
    --clr-light: #f4f4f4;
    --clr-dark: #722f37;
    --clr-warning: #d02a0c;

}

::before,
::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--clr-light);
}

button {
    cursor:pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

/** Grid **/ 
#page-grid {
    display: grid;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    grid-template-rows: 5vh 90vh 5vh;
    grid-template-columns: 30vw 70vw;
}

.grid-section {
    border: 1px solid black;
} 

form {
    display: flex;
}

/**header section **/ 
#header-section {
    color:var(--clr-light);
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--clr-dark);
}


/** List section**/
#list-section {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--clr-secondary);
    
}

#lists-container {
    margin-left: 1rem;
}

.all-lists {}

#today-list {}

.task-list-title {
    font-size: 1.7rem;
}

.task-list {
    line-height: 1.7;
    font-size: 1rem;
    list-style: circle;
    padding-left: 1.1em;
}

.active-list {
    font-weight: 700;
}

.list-name {}

.new-list {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;

    transition: border-bottom 100ms ease-in;
    order: 2;
}

.new-list:focus {
    border-bottom-width: 2.5px;
}

.new-list:focus::placeholder {
    opacity: 0.2;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.8;
}

.button-create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25rem;
    transition: opacity 150ms ease-in;
}

.button-create:hover {
    opacity: 0.7;;
}


#favorite-list {}

#all-list-container {}



/**task section **/
#task-section {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.todo-list {
    
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark);
    /* margin-bottom: 5em; */
    border: 4px solid var(--clr-dark);
    border-radius: 2rem;
    outline: black;
    width: 60vw;
   

    --spacer: 1.5rem;
    

}

.todo-list-header {
    background-color: var(--clr-secondary);
    border-radius: 1.9rem 1.9rem 0 0;
    padding-left: var(--spacer);
    padding-right: var(--spacer);
    
}

.todo-list-title {
    margin-bottom: 0;
}

.todo-count {
    font-size: 1rem;
}

.todo-list-body {
    background-color: var(--clr-primary);
    border-radius: 0 0 1.9rem 1.9rem;
    padding: var(--spacer);
}

.todos {
    line-height: 1.7;
    

};

.task {}

#task-1 {}
#task-2 {}
#task-3 {}

.custom-checkbox {}

.new-task-creator {}

.new-task {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    outline: none;

    transition: border-bottom 100ms ease-in;
    order: 2;
}

.new-task:focus {
    border-bottom-width: 2.5px;
}

.new-task:focus::placeholder {
    opacity: 0.2;
}


.task-button

.delete-tasks {}

.btn-delete {}


/** footer section **/
#footer-section {
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--clr-dark);
}
